    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background: #f0f4f8;
    }

    .page {
        display: none;
        padding: 20px;
    }

    .active {
        display: block;
    }

    input {
        display: block;
        margin: 10px 0;
        padding: 8px;
        width: 100%;
        max-width: 300px;
    }

    button {
        padding: 10px 20px;
        margin-top: 20px;
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 13px;
    }

    button:hover {
        background: #0056b3;
        transform: scale(1.08);
        transition: 0.2s;
        box-shadow:0 10px 24px rgba(0,0,0,.15);
    }
    .reload{
        font-size: 14px;
    }